@charset "utf-8";

/* 여백 초기화 */
body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption{margin:0; padding:0;}

/* 블릿기호 초기화 */
ul,li,ol {list-style:none;}

/* a 링크 초기화 */
a {text-decoration: none;}

/* 초기화 */
body {
    background: linear-gradient(120deg, #2C5364, #203A43, #0F2027);
}
header {text-align: center; margin: 0 auto; }
header h1{font-size: 4em; color: #fff; padding: 1em;}
header ul li {display: inline; margin: 2px;}
header ul li a.active {border: 2px solid #aaa; color: #aaa;}
header ul li a:hover {border: 2px solid #aaa; color: #aaa;}
header ul li a {color: #fff; padding: 9px 15px; text-transform: uppercase; font-size: 15px; font-weight: bold; border: 2px solid #fff; border-radius: 5px;}


.container {max-width: 1000px; margin: 0 auto;}
.row {padding: 0 28px;}

h2 {
    color: #aaa; font-weight: normal; 
    padding: 3em 1% 0;
}