@charset "utf-8";
.hover_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
    perspective: 1000px;
    padding: 1em 0 0;
}
.hover_wrap .effect {
  position: relative;
  width: 500px; height: 400px; margin: 10px;
  perspective: 1000px;
  cursor: pointer;
}
.hover_wrap > figure {
    position: relative;
    width: 500px; height: auto; margin: 10px;
    cursor: pointer;
    overflow: hidden;
}
.hover_wrap .bg1 {
    background: linear-gradient(45deg, #874da2, #c43a30);
}
.hover_wrap .bg1::before {
    content: '';
    position: absolute; left: 100%; top: 50%; z-index: 1;
    width: 60px; height: 1px; background: #fff;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    opacity: 0;
}
.hover_wrap .bg1::after {
    content: '';
    position: absolute; left: 50%; top: 0%; z-index: 1;
    width: 1px; height: 60px; background: #fff;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    opacity: 0;
}
.hover_wrap .bg2 {
    background: #fff;
}
.hover_wrap .effect .front {
  position: absolute; left: 0; top: 0; z-index: 10;
  transform-style: preserve-3d;
}
.hover_wrap .effect .back {
  position: absolute; left: 0; top: 0; 
  transform-style: preserve-3d;
}
.hover_wrap p {text-transform: uppercase;}
.hover_wrap .st1 {
    position: absolute; left: 0; bottom: 0;
    background: rgba(0,0,0,0.44);
    width: 100%;
    color: #fff; padding: 20px;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
}
.hover_wrap .st1 h3 {
    font-size: 24px; padding-bottom: 7px;
}
  .hover_wrap .st1 p {
    font-size: 18px;
}
.hover_wrap .st3 {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hover_wrap .st3::before {
    content: '';
    width: 150px; height: 150px;
    background: #000;
    border-radius: 50%;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.hover_wrap .st3 strong {
    z-index: 20;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
  }
.hover_wrap .effect .st4 {
    position: absolute; bottom: 0; left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%; padding: 3% 4%;
    box-sizing: border-box;
    color: #fff;
}
.hover_wrap .effect .st4 h3 {
    font-size: 24px; padding-bottom: 5px;
}
.hover_wrap .effect .st4 p {
    font-size: 20px;
}
.hover_wrap .effect .st5 {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%) translatez(100px);   
    background: rgba(0,0,0,0.5);
    text-align: center;
    backface-visibility: hidden;
    color: #fff;
    padding: 3% 4%;
    box-sizing: border-box;
    white-space: nowrap;
}
.hover_wrap .effect .st5 h3 {
    font-size: 30px; padding-bottom: 10px;
}
.hover_wrap .effect .st5 p {
    font-size: 16px;
}
.hover_wrap img {
  width: 100%;
  display: block;
  transition: all 0.3s ease;
}
.hover_wrap .bg2:hover img {
    opacity: 0.1;
  }

/* hover effect1 */
.hover_wrap figure.hover1 figcaption {opacity: 0; transition: opacity 0.33s ease-in-out;}
.hover_wrap figure.hover1:hover figcaption {opacity: 1;}
/* hover effect2 */
.hover_wrap figure.hover2 figcaption{opacity: 0; transition: opacity 0.33s ease-in-out, bottom 0.33s ease; bottom: -100px}
.hover_wrap figure.hover2:hover figcaption{opacity: 1; bottom: 0;}
/* hover effect3 */
.hover_wrap figure.hover3:hover img {opacity: 0.6;}
.hover_wrap figure.hover3:hover::before {left: 50%; opacity: 1;}
.hover_wrap figure.hover3:hover::after {top: 50%; opacity: 1;}
/* hover effect4 */
.hover_wrap figure.hover4::before {left: 0;}
.hover_wrap figure.hover4::after {top: 100%;}
.hover_wrap figure.hover4:hover img {opacity: 0.6;}
.hover_wrap figure.hover4:hover::before {left: 50%; opacity: 1;}
.hover_wrap figure.hover4:hover::after {top: 50%; opacity: 1;}
/* hover effect5 */
.hover_wrap .hover5 figcaption {transform: translatex(80%) rotate(180deg); transition: all 0.3s ease;}
.hover_wrap .hover5:hover figcaption {transform: translatex(0%) rotate(0deg);}
/* hover effect6 */
.hover_wrap .hover6 figcaption {transform: translatex(-80%) rotate(-180deg); transition: all 0.3s ease;}
.hover_wrap .hover6:hover figcaption {transform: translatex(0%) rotate(0deg);}
/* hover effect7 */
.hover_wrap .effect.hover7 .front {transform: rotatey(0deg); transition: transform 1s; backface-visibility: hidden;}
.hover_wrap .effect.hover7:hover .front {transform: rotatey(180deg);}
.hover_wrap .effect.hover7 .back {transform: rotatey(-180deg); transition: transform 1s;}
.hover_wrap .effect.hover7:hover .back {transform: rotatey(0deg);}
/* hover effect8 */
.hover_wrap .effect.hover8 .front {transform: rotatex(0deg); transition: transform 1s; backface-visibility: hidden;}
.hover_wrap .effect.hover8:hover .front {transform: rotatex(180deg);}
.hover_wrap .effect.hover8 .back {transform: rotatex(-180deg); transition: transform 1s;}
.hover_wrap .effect.hover8:hover .back {transform: rotatex(0deg);}
/* hover effect9 */
.hover_wrap .effect.hover9 .front {transform: rotatey(0deg); transition: transform 1s; backface-visibility: hidden;}
.hover_wrap .effect.hover9:hover .front {transform: rotatey(180deg);}
.hover_wrap .effect.hover9 .back {transform: rotatey(-180deg); transition: transform 1s; backface-visibility: hidden;}
.hover_wrap .effect.hover9:hover .back {transform: rotatey(0deg);}
/* hover effect10 */
.hover_wrap .effect.hover10 .front {transform: rotatex(0deg); transition: transform 1s; backface-visibility: hidden;}
.hover_wrap .effect.hover10:hover .front {transform: rotatex(180deg);}
.hover_wrap .effect.hover10 .back {transform: rotatex(-180deg); transition: transform 1s; backface-visibility: hidden;}
.hover_wrap .effect.hover10:hover .back {transform: rotatex(0deg);}
    
  /* Media quary */
  @media (max-width: 700px){
      .hover_wrap {flex-direction: column;}
      h2 {text-align: center;}
      .hover_wrap figure {width: auto;}
	.row {padding: 0 10px;}
  }
  